.max-text {
  p, h3 {
    max-width: 35rem;
  }
  @media (min-width: 1100px) {
    h3 {
      margin-top: 3rem;
    }
  }
  @media (min-width: 1550px) {
    h3 {
      margin-top: 7rem;
    }
  }

  &.with-left-space {
    p, h3 {
      margin-left: auto;
    }
  }
  &.with-right-space {
  }
}

@media (min-width: 900px) {
  .button.hollow.white {
    font-size: 1.05em;
  }
}

@media (min-width: 1550px) {
  p {
    font-size: 1.2rem;
  }
  h1 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }
}

@media (min-width: 1625px) {
  .max-text {
    &.with-left-space {
      p, h3 {
        margin-left: auto;
        margin-right: 3rem;
      }
    }
    &.with-right-space {
      p, h3 {
        margin-left: 3rem;
      }
    }
  }
}

hr {
  width: 100px;
}

nav {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      margin-left: 1.5em;
      padding: 0;
      display: inline-block;
      a {
//        font-family: sans-serif;
        font-weight: 600;
        font-size: 1.1em;
      }
    }
  }
}

body {
}

body > header.top {
  background: #292624;
  background: linear-gradient(to bottom, rgba(55, 39, 16, 0.79), rgba(55, 39, 16, 0.95));
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  height: 140px;
  top: 0px;
  left: 0px;
  right: 0px;
  position: fixed;
  z-index: 1;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1);

  #cart-action {
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 5px 20px;
    border-radius: 20px;
    background: lighten(map-get($foundation-palette, primary), 5%);
    #cart-icon {
      font-size: 1.3rem;
      color: white;
    }
  }

  nav {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;

    h1 {
      margin-top: 0.6rem;
      margin-bottom: 0;
      font-size: 2.5rem;
      font-family: 'Stoke', serif;
      .logo img {
        width: 80px;
        margin-right: 0.2em;
      }
      a {
        color: white;
      }
    }

    ul {
      margin-top: 0.3em;
      li {
        a {
          color: #ffeedd;
          padding-bottom: 3px;
          border-bottom: 4px solid rgba(255,255,255,0.25);
        }
      }
    }
  }
}
body > header.hero {
  background-color: #ddd;
  background-size: cover;
  background-position: center top;
  transition: padding-top 0.5s;
  padding-top: 500px;
  @media (min-width: 1300px) {
    padding-top: 600px;
  }
  @media (min-width: 1600px) {
    padding-top: 700px;
  }
  padding-bottom: 100px;
  color: white;
  h1 { color: white; text-shadow: 0px 2px 1px rgba(0,0,0,0.3); }
  margin-bottom: 4rem;
}

body > footer {
  background: rgba(255, 255, 255, 0.75);
  padding: 4rem;

  @media (max-width: 1085px) {
    padding: 4rem 1rem;
  }

  .links-and-signup {
    @media (min-width: 768px) {
      padding-left: 0;
    }
    @media (max-width: 767px) {
      padding-top: 1rem;
    }
  }

  h4 {
    margin-bottom: 1rem;
  }
  .contact-links p {
    line-height: 2.3;
  }
  a {
    i.fa {
      font-size: 1.5em;
      vertical-align:-0.15rem;
      width: 1.7rem;
      text-align: center;
      margin-right: 0.15rem;
    }
    span {
      border-bottom: 3px solid transparentize(map-get($foundation-palette, primary), 0.8);
    }
  }
  input[type=text], input[type=email] {
    border: 1px solid map-get($foundation-palette, primary);
  }
}
body.spaced-footer, body.page, body.post {
  & > footer {
    margin-top: 6rem;
  }
}

h2.section {
  font-size: 1.5em;
  text-transform: uppercase;
  border-bottom: 1px solid #999;
  margin-bottom: 2rem;
}

button, input, optgroup, select, textarea {
  font-family: $body-font-family !important;
}


/* From https://tympanus.net/Development/FullscreenOverlayStyles/index5.html */
/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: transparentize(map-get($foundation-palette, secondary), .1);
  z-index: 10000;
}

/* Overlay closing cross */
.overlay .overlay-close {
	width: 80px;
	height: 80px;
	position: absolute;
	right: 20px;
	top: 20px;
	overflow: hidden;
	border: none;
	background: url(/assets/cross.png) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100;
  cursor: pointer;
}

/* Menu style */
.overlay nav {
	text-align: center;
	position: relative;
	top: 50%;
	height: 70%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.overlay ul li {
	display: block;
	height: 14%;
	height: calc(100% / 7);
	min-height: 54px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
  margin-left: 0;
}

.overlay ul li a {
	font-size: 44px;
	font-weight: 300;
	display: block;
	color: #fff;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	color: #f0f0f0;
}

/* Effects */
.overlay-scale {
	visibility: hidden;
	opacity: 0;
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
	transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
  transform-origin: 50% 0%;
}

.overlay-scale.open {
	visibility: visible;
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
}

@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}
