.max-text {
  p, h3 {
    max-width: 35rem;
  }
  @media (min-width: 1250px) {
    h3 {
      margin-top: 3rem;
    }
  }
  @media (min-width: 1550px) {
    h3 {
      margin-top: 5rem;
    }
  }

  &.with-left-space {
    p, h3 {
      margin-left: auto;
    }
  }
  &.with-right-space {
  }
}

@media (min-width: 1550px) {
  p {
    font-size: 1.2rem;
  }
  h1 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }
}

@media (min-width: 1625px) {
  .max-text {
    &.with-left-space {
      p, h3 {
        margin-left: auto;
        margin-right: 3rem;
      }
    }
    &.with-right-space {
      p, h3 {
        margin-left: 3rem;
      }
    }
  }
}




nav {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      margin-left: 1.5em;
      padding: 0;
      display: inline-block;
      a {
//        font-family: sans-serif;
        font-weight: 600;
        font-size: 1.1em;
      }
    }
  }
}

body {
}

body > header.top {
  background: #292624;
  background: linear-gradient(to bottom, rgba(55, 39, 16, 0.79), rgba(55, 39, 16, 0.95));
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  height: 140px;
  top: 0px;
  left: 0px;
  right: 0px;
  position: fixed;
  z-index: 1;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1);

  #cart-action {
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 5px 20px;
    border-radius: 20px;
    background: lighten(map-get($foundation-palette, primary), 5%);
    #cart-icon {
      font-size: 1.3rem;
      color: white;
    }
  }

  nav {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;

    h1 {
      margin-top: 0.6rem;
      margin-bottom: 0;
      font-size: 2.5rem;
      font-family: 'Stoke', serif;
      .logo img {
        width: 80px;
        margin-right: 0.2em;
      }
      a {
        color: white;
      }
    }

    ul {
      margin-top: 0.3em;
      li {
        a {
          color: #ffeedd;
          padding-bottom: 3px;
          border-bottom: 4px solid rgba(255,255,255,0.25);
        }
      }
    }
  }
}
body > header.hero {
  background-color: #ddd;
  background-size: cover;
  background-position: center top;
  transition: padding-top 0.5s;
  padding-top: 500px;
  @media (min-width: 1300px) {
    padding-top: 600px;
  }
  @media (min-width: 1600px) {
    padding-top: 700px;
  }
  padding-bottom: 100px;
  color: white;
  h1 { color: white; text-shadow: 0px 2px 1px rgba(0,0,0,0.3); }
  margin-bottom: 4rem;
}

body > footer {
  background: #333;
  margin-top: 5em;
  padding: 4rem;
  color: #aaa;
  nav {
    margin-left: -1.5em;
  }
  a {
    i.fa {
      font-size: 2em;
      vertical-align:-0.35rem;
    }
    &:hover { color: white; }
    color: #ccc;
    span {
      text-decoration: underline;
    }
  }
}

h2.section {
  font-size: 1.5em;
  text-transform: uppercase;
  border-bottom: 1px solid #999;
  margin-bottom: 2rem;
}

button, input, optgroup, select, textarea {
  font-family: $body-font-family !important;
}
