<footer>

<div class="row">
<div class="columns medium-6 contact-links">

<h4>Geoffrey Ellis Flutes</h4>

<p>
<a href="mailto:ellisflutes@gmail.com"><i class="fa fa-envelope-o"></i> <span>ellisflutes@gmail.com</span></a>
<br/>
<a href="https://www.facebook.com/Geoffrey-Ellis-Flutes-Page-1435853706443576/"><i class="fa fa-facebook"></i> <span>Facebook</span></a>
</p>

<p><a href="/terms"><i class="fa fa-file-text-o"></i> <span>Terms of Service</span></a></p>
</div>
<div class="columns medium-6 links-and-signup">
  <p>
    <a href="/boehm-head-joints" class="button hollow">Boehm Head Joints</a>
    &nbsp;
    <a href="/irish-flutes" class="button hollow">Irish Flutes</a>
    &nbsp;
    <a href="/world-flutes" class="button hollow">World Flutes</a>
  </p>

  <form class="subscribe-newsletter" action="https://www.createsend.com/t/subscribeerror?description=" method="post" data-id="5B5E7037DA78A748374AD499497E309E63343B84B65325393DB5D4503F8C8F42CC792579B0261F03C50F43F2A1B8B874C7542608F5804CB14BB4A41EBEF25097">
    <div>
      <label for="name">Name:</label>  <input id="name" type="text" name="cm-name">
      <label for="pdthjd-pdthjd">Email:</label>  <input id="pdthjd-pdthjd" type="text" name="cm-pdthjd-pdthjd">
      <input type="submit" value="Subscribe to Updates" class="button">
    </div>
  </form>
  <script type="text/javascript" src="https://js.createsend1.com/javascript/copypastesubscribeformlogic.js"></script>
</div>
</div>

</footer>

<!-- open/close -->
<div class="overlay overlay-scale">
  <button type="button" class="overlay-close">Close</button>
  {% include nav.html %}
</div>
