<footer>
  <div class="row">
    <div class="columns large-2 medium-3">
      LOGO
    </div>
    <div class="columns large-5 medium-9">
      INFO
    </div>
    <div class="columns large-5 medium-6">
      SOCIAL STUFF

    </div>
  </div>

  <br/>
  <br/>

  <div class="row">
    <div class="columns large-offset-2 large-10 medium-9 medium-offset-3">

      <nav>
        See Also:<br/>
        LINKS
      </nav>

    </div>

  </div>
</footer>

<script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="{{ site.baseurl }}/js/foundation.js"></script>
<script src="{{ site.baseurl }}/js/app.js"></script>
