  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% capture page_title %}{{ page.title }}{% endcapture %}
  <title>{% if page_title %}{{ page_title | escape }} | {{ site.title | escape }}{% else %}{{ site.title | escape }} | {{ site.tagline | escape }}{% endif %}</title>

  <meta name="description" content="{{ site.site_description }}" />

  <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
  <![endif]-->

  <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml" />

  <link href="//fonts.googleapis.com/css?family=Stoke:300" rel="stylesheet" type="text/css" />
  <link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/0bfbb00e-91ae-4180-a81f-96945db3b1aa.css"/>

  <link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/css/app.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/css/fa/font-awesome.min.css" />

  <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
  <script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" data-api-key="ODQyYjc4MmQtZjQxMC00YTUzLWI1MjYtZmQ5ZDM5NmIyYzQ3NjM2NDI3MjUwMDM5Mzg4MjUy" id="snipcart"></script>
  <script src="{{ site.baseurl }}/js/foundation.js"></script>
  <script src="{{ site.baseurl }}/js/app.js"></script>
