  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% capture page_title %}{{ page.title }}{% endcapture %}
  <title>{% if page_title %}{{ page_title | escape }} | {{ site.title | escape }}{% else %}{{ site.title | escape }} | {{ site.tagline | escape }}{% endif %}</title>

  <meta name="description" content="{{ site.site_description }}" />

  <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
  <![endif]-->

  <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">

  <link rel="stylesheet" href="{{ site.baseurl }}/css/app.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/css/fa/font-awesome.min.css" />

  <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>

  <script src="{{ site.baseurl }}/js/foundation.js"></script>
  <script src="{{ site.baseurl }}/js/app.js"></script>
