<header class="top">
  <div id="cart-action"><a id="cart-icon" href="#" onclick="Snipcart.api.modal.show();return false"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart <span class="item-count"></span></a></div>

  <nav>
    <h1><a href="/"><span class="logo"><img src="https://d3jpl91pxevbkh.cloudfront.net/mariposta/image/upload/a_exif,c_fill,g_face,h_180,q_75,w_180/imuc5urhnfww6m1005na.png" alt=""></span>Geoffrey Ellis Flutes</a></h1>
<!-- Boehm Head Joints, Irish Flutes, World Flutes, Blog, Newsletter -->
    <ul>
      <li><a href="/#">Boehm Head Joints</a></li>
      <li><a href="/#">Irish Flutes</a></li>
      <li><a href="/#">World Flutes</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/newsletter">Newsletter</a></li>
    </ul>
  </nav>

</header>
{% unless include.hide_hero %}
  {% if page.hero %}
  {% assign hero_background = page.hero %}
  {% else %}
  {% assign hero_background = "background-default" %}
  {% endif %}
  <header class="hero" style="background-image: url(/assets/{{ hero_background }}.jpg)">

    <h1 class="text-center">{{ page.title }}</h1>

  </header>
{% else %}
  <div style="height:180px"></div>
{% endunless %}
