---
layout: default
hide_hero: true
---

<header id="page-title">
  {% assign category = page.categories[0] %}
  <h1 class="text-center"><a href="{{ site.data.category_labels[category].url }}">{{ site.data.category_labels[category].title }}</a></h1>
</header>

<div class="fade-on-load">
{% assign product = page %}
{% render "product", site: site, product: product %}

  <p class="text-center"><a href="{{ site.data.category_labels[category].url }}" class="button large">Shop for More {{ site.data.category_labels[category].title }}</a></p>
  <br/><br/>
</div>
