<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body class="{{ page.layout }}{{ page.extra_page_class }} spaced-footer">
    {% include header.html %}

    <header id="page-title">

      <h1 class="text-center">{{ page.title }}</h1>

    </header>

    {% if page.cloudinary_id %}
      <div class="no-para-margin image-bottom-bordered fade-on-load" style="min-height: 40vw" markdown="1">
        <img src="{{ page.cloudinary_id | cloudinary_url:'w_2048,h_4000,c_limit,a_exif,q_75'}}" style="width:100%" />
      </div>
    {% endif %}

    {% unless page.special_boxes %}
      <div class="blue content-box">
        {{ content }}
      </div>

      <br/><br/>
      {% assign products = site.products | where: "categories", page.product_category %}
      {% if products.size > 0 %}
        <hr />
        <h2 class="text-center">Products In Stock</h2>
        <hr />
        <br/><br/>

        {% for product in products %}
          <!-- SKU: {{ product.slug }} -->
          {% include product.html %}
        {% endfor %}
      {% endif %}
    {% else %}
      {{ content }}
    {% endunless %}

    <hr />
    <h2 class="text-center">Custom Ordering</h2>
    <hr />

    <div class="blue content-box">
      <h3>Pricing</h3>

      {{ page.custom_ordering | markdownify }}

      <br/>
      <p class="text-center"><a href="/custom-order" class="button hollow white">How to Custom Order</a></p>
    </div>

    {% include footer.html %}
  </body>
</html>
