<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html lang="en">
  <head>
    {% render "head", site: site, page: page, bridgetown: bridgetown %}
  </head>
  <body class="{{ page.layout }}{{ page.extra_page_class }} spaced-footer" data-api-url="{{ site.api_url }}">
    {% render "header" %}

    <header id="page-title">

      <h1 class="text-center"><a href="/world-flutes">World Flutes</a></h1>
      <h2 class="text-center">{{ page.title }}</h2>

    </header>

    {% if page.cloudinary_id %}
      <div class="no-para-margin image-bottom-bordered fade-on-load" style="min-height: 40vw" markdown="1">
        <img src="{{ page.cloudinary_id | cloudinary_url:'w_2048,h_4000,c_limit,a_exif,q_75'}}" style="width:100%" />
      </div>
    {% endif %}

    <div class="blue content-box">
      {{ content }}
    </div>

    {% if page.product_category == "bamboo" %}
      <p class="text-center" style="margin: 3rem 0"><a href="/products/bamboo" class="button large"><i class="fa fa-shopping-cart"></i> Shop for Bamboo Flutes</a></p>
    {% else %}
      <p class="text-center" style="margin: 3rem 0"><a href="/products" class="button large"><i class="fa fa-shopping-cart"></i> Shop for Flutes</a></p>
    {% endif %}  

    {% if page.custom_ordering and page.custom_ordering != "" %}
      <hr />
      <h2 class="text-center">Custom Ordering</h2>
      <hr />

      <div class="blue content-box">
        <h3>Pricing</h3>

        {{ page.custom_ordering | markdownify }}

        <br/>
        <p class="text-center"><a href="/custom-order" class="button hollow white">How to Custom Order</a></p>
      </div>
      <br/><br/>
    {% endif %}

    <p class="text-center"><a href="/world-flutes" class="button hollow"><i class="fa fa-arrow-left"></i> Return to World Flutes</a></p>

    {% render "footer" %}
  </body>
</html>
