---
layout: default
title: Welcome Home
---

<section class="row">
  <div class="columns small-12 medium-7">

    <h2 class="section">Latest Announcements</h2>

    {% for post in site.posts %}
      <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>

      <p>{{ post.excerpt }}</p>

      <p><small>Posted {{ post.date | date:'%B %-d, %Y' }}</small></p>
    {% endfor %}

    <hr />

    <h2 class="section">Products</h2>

    {% for product in site.products %}
      <h3><a href="{{ product.url }}">{{ product.title }}</a></h3>

      <p>{{ product.content }}</p>
    {% endfor %}

    <h2>Testing</h2>

    {% pagecomponent panels/breakout title="I am a Title!" center=true %}
Even in **html** files, [you can](http://jaredwhite.com) use _Markdown_!
    {% endpagecomponent %}

  </div>
  <div class="columns medium-5">
    <h2 class="section">Upcoming Things</h2>
      <!-- for -->
      <div class="callout">
        <h3>Thing Title</h3>

        <p>All about the thing, of course!</p>

        <div><strong>Do Something Now:</strong></div>
        <!-- for -->
          <div>Blah blah blah blah blah!<br/><a href="#" class="button small">Make it so!</a></div>
        <!-- /endfor -->
      </div>
      <!-- /endfor -->
  </div>
</section>
