nav#menu {
  text-align: center;
  padding-top: 0.5em;
  position: fixed;
  left: 50%;
  margin-left: -65px;
  z-index: 9999;
  &.snipcart-print-no-show {
    z-index: 1;
  }
  .item-count {
    position:absolute;background:red;border-radius:50% ;color:white;font-family: sans-serif;font-weight:bold;font-size: 13px;width: 20px;height:20px;display:inline-block;margin-top:1em;margin-left:-1em;
    transition: transform 0.8s;
    &.empty {
      display: none;
    }
  }
  & > a {
    display: inline-block;
  }
  & > a > div {
    font-family:sans-serif;
    font-weight:bold;
    font-size:15px;
    position:absolute;
    top: 80px;
    left:50%;
    margin-left:-2em;
    color:white;
    text-shadow: 1px 1px 1px #18677f;
    opacity: 0;
    transition: opacity 2s;
    z-index: -1;
  }
  &.smaller {
    & > a > div {
      opacity: 1;
    }
    .item-count {
      transform: translate(-22px, -6px)
    }
  }
}


img.logo {
  padding: 2px;
  background: transparentize($body-background, 0.5);
  box-shadow: 0px 0px 10px $body-background;
  border-radius: 50%;
  width: 131px;
  vertical-align: middle;
  transition: transform 0.8s;
  transform-origin: 50% 0%;
  nav#menu.smaller & {
    transform: scale(0.5);
  }
}

header#page-title {
  padding: 5rem 0;
  padding-top: 35vh;
  padding-bottom: 25vh;
  @media (max-width: map-get($breakpoints, medium)) {
    padding-top: 27vh;
    padding-bottom: 10vh;
  }
  @media (min-width: 47.9375em) {
    h1 {
      font-size: 3rem;
    }
  }

  h1, h2 {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}

div.amber {
  background: #6e5f42;
  color: white;
  position: relative;
  h3 { color: #f1c363;}
  .left-col-background {
    background: #4d422e;
    position: absolute;
    left: 0;
    right: 50%;
    top: 0;
    bottom: 0;
    @media (max-width: map-get($breakpoints, medium)) {
      display: none;
    }
  }
}
/*div.green {
  background: map-get($foundation-palette, primary);
  color: white;
  h3 { color: #f1c363; }
}*/
div.blue {
  background: map-get($foundation-palette, secondary);
  color: white;
  position: relative;
  h3 { color: #f1c363; }
  a {
    color: inherit;
    border-bottom: 3px solid rgba(255,255,255,0.5);
    &.no-border {
      border-bottom: none;
    }
  }
  .right-col-background {
    background: #11495a;
    position: absolute;
    left: 50%;
    right: 0;
    top: 0;
    bottom: 0;
    @media (max-width: map-get($breakpoints, medium)) {
      display: none;
    }
  }
}

div.blue-tag {
  background: transparentize(map-get($foundation-palette, secondary), .3);
  position: absolute;
  right: 0;
  padding: 1rem;
  bottom: 2.5rem;
  z-index: 1;
  max-width: 18rem;
  font-style: italic;
  color: white;
  &.on-left {
    right: auto;
    left: 0;
  }
  a {
    color: inherit;
    border-bottom: 3px solid rgba(255,255,255,0.5);
  }
  &.static {
    position: static;
    border-bottom: 6px solid #f1c363;
    max-width: 100%;
    margin-top: 0;
    text-align: center;
  }
  &.third {
    @media (min-width: 1112px) {
      padding-left: 55px;
      padding-right: 55px;
    }
  }
}

div.no-para-margin, div.blue-tag {
  p { margin-bottom: 0 }
}

div.image-bottom-bordered {
  img {
    border-bottom: 6px solid #f1c363;
  }
}

div.columns.no-padding {
  padding: 0;
  position: relative;
}

div.columns.top-padding {
  padding-top: 1.8rem;
  padding-bottom: 0.5rem;
  h3:after {
    content: '';
    display: block;
    border-bottom: 4px solid rgba(255,255,255,0.3);
    width: 15%;
    margin: 1rem auto;
    border-bottom-style: double;
  }
}

/* ** Bamboo Related ** */
:root {
  --bamboo-dot-inactive: rgba(150, 150, 150, 0.5);
  --bamboo-dot-active: #f1c363;
}

bamboo-slideshow {
  height: 500px;
  height: 79vw;

  .slides { // wait until they appear in the light DOM
    visibility: hidden;
  }
}

/*@media (max-width: 600px) {
  bamboo-slideshow::part(dots) {
    display: none;
  }
} */


/* ** Animations ** */

header#page-title {
        -ms-animation: fadein 2s; /* Internet Explorer */
            animation: fadein 2s;
}
.fade-on-load {
  -ms-animation: fadein 3s; /* Internet Explorer */
      animation: fadein 3s;
}

@keyframes fadein {
    0% { opacity: 0; }
    40% { opacity: 0; }
    100%   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
