<footer>

<div class="row">
<div class="columns medium-6 contact-links">

<h4><a href="/">Geoffrey Ellis Flutes</a></h4>

<p>
<a href="mailto:geoffrey@ellisflutes.com"><i class="fa fa-envelope-o"></i> <span>geoffrey@ellisflutes.com</span></a>
</p>

<p><a href="/terms"><i class="fa fa-file-text-o"></i> <span>Terms of Service</span></a></p>
</div>
<div class="columns medium-6 links-and-signup">
  <p>
    <a href="/products" class="button hollow">Shop for Flutes</a>
    &nbsp;
    <a href="/world-flutes" class="button hollow">Types of Flutes</a>
    &nbsp;
    <a href="/custom-order" class="button hollow">Custom Order</a>
  </p>

  <form id="footer-signup" class="subscribe-newsletter" action="https://mariposta.createsend.com/t/r/s/pdthjd/" method="post">
    <div>
      <label for="name">Name:</label>  <input id="name" type="text" name="cm-name">
      <label for="pdthjd-pdthjd">Email:</label>  <input id="pdthjd-pdthjd" type="text" name="cm-pdthjd-pdthjd">
      <input type="submit" value="Subscribe to Updates" class="button">
    </div>
  </form>
</div>
</div>

</footer>

<!-- open/close -->
<div class="overlay overlay-scale">
  <button type="button" class="overlay-close">Close</button>
  {% render "nav" %}
</div>
