<nav id="menu">
  <a href="/"><img src="/assets/geoffrey-ellis-flutes-logo.png" alt="logo" class="logo" />
    <div><i class="fa fa-bars" aria-hidden="true"></i> MENU</div>
  </a>
  <span class="item-count empty"></span>
</nav>
